{% extends "admin/base.html" %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <form id="my-form" class="am-form tpl-form-line-form" method="post">
                        {{ form.csrf_token }}
                        <input type="hidden" name="id" value="{{ info.id }}">
                        <div class="widget-body">
                            <fieldset>
                                <div class="widget-head am-cf">
                                    <div class="widget-title am-fl">编辑权限</div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">权限名称 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <input type="text" class="tpl-form-input" name="access_name"
                                               value="{{ info.access_name }}" placeholder="请输入权限名称" required>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">上级权限 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <select name="parent_id" data-am-selected="{btnSize: 'sm', maxHeight: 420}">
                                            <option value="0"> 顶级权限</option>
                                            {% for item in select_access %}
                                                <option value="{{ item.id }}"
                                                        {% if info.parent_id == item.id %}selected{% endif %}>
                                                    {{ "&nbsp;&nbsp;&nbsp;├"|safe * item.deep + "&nbsp;"|safe + item.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">权限url </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <input type="text" class="tpl-form-input" name="path"
                                               value="{{ info.path }}" placeholder="请输入权限url" required>
                                        <small>例如：admin/manage，多个url请使用英文逗号分割</small>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
                                        <button type="submit" class="j-submit am-btn am-btn-secondary">提交
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {

            /**
             * 表单验证提交
             * @type {*}
             */
            $('#my-form').superForm();

        });
    </script>
{% endblock %}
