{% extends "admin/base.html" %}

{% block title %}{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <form id="add-form" action="/admin/manage/edit" class="am-form tpl-form-line-form" method="post"
                          style="padding-top: 30px">
                        {{ forms.csrf_token }}
                        <input type="hidden" name="id" value="{{ info.id }}">
                        <div class="widget-body">
                            <fieldset>
                                <div class="widget-head am-cf">
                                    <div class="widget-title am-fl">编辑管理员</div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">用户名 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <input type="text" class="tpl-form-input" name="username"
                                               value="{{ info.username }}" placeholder="请输入用户名" required>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">所属角色 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <select name="role_id[]" id="js-selected" multiple data-am-selected>
                                            {% for item in roles %}
                                                <option value="{{ item.id }}"
                                                        {% if item.id in role_ids %}selected{% endif %}> {{ item.role_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="help-block">
                                            <small>注：支持多选</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label">登录密码 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <input type="password" class="tpl-form-input" name="password"
                                               value="" placeholder="请输入登录密码">
                                        <div class="help-block">
                                            <small>注：不填写就不会修改密码</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label ">确认密码 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <input type="password" class="tpl-form-input" name="password_confirm"
                                               value="" placeholder="请输入确认密码">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">状态 </label>
                                    <div class="am-u-sm-9 am-u-end">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="status" value="1" data-am-ucheck
                                                   {% if info.status %}checked{% endif %}>
                                            正常
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="status" value="0" data-am-ucheck
                                                   {% if not info.status %}checked{% endif %}
                                            >
                                            禁用
                                        </label>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3 am-u-lg-push-2 am-margin-top-lg">
                                        <button type="submit" class="j-submit am-btn am-btn-secondary"
                                                style="float: left">
                                            提交
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $("#add-form").superForm()
        });
    </script>
{% endblock %}
