<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}{% endblock %}-后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="{{ url_for('blue_admin_index.static', filename='common/css/amazeui.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('blue_admin_index.static', filename='admin/css/app.css') }}"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_783249_3sbba6jrt9y.css">
    <script src="{{ url_for('blue_admin_index.static', filename='common/js/jquery.min.js') }}"></script>
    <script src="//at.alicdn.com/t/font_783249_e5yrsf08rap.js"></script>
    {% block head %}{% endblock %}
</head>

<body data-type="">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header class="tpl-header">
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-button switch-button">
                <i class="iconfont icon-menufold"></i>
            </div>
            <!-- 刷新页面 -->
            <div class="am-fl tpl-header-button refresh-button">
                <i class="iconfont icon-refresh"></i>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href=">">欢迎你，<span>{{ username }}</span></a>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="/admin/logout">
                            <i class="iconfont icon-tuichu"></i> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar dis-flex">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">后台管理系统</li>
            {% for key,item in menus.items() %}
                {% if is_super or item.url in access_paths %}
                    <li class="sidebar-nav-link">
                        <a href="{{ item.url }}" class="{% if key == blue_print %}active{% endif %}">
                            <i class="iconfont sidebar-nav-link-logo {{ item.icon }}"></i>
                            {{ item.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if sub_menus|length > 0 %}
            <ul class="left-sidebar-second">
                <li class="sidebar-second-title">{{ menus_title }}</li>
                <li class="sidebar-second-item ">
                    {% for sub_item in sub_menus %}
                        {% if is_super or sub_item.url in access_paths %}
                            <a href="{{ sub_item.url }}"
                               class="{% if current_path in sub_item['uris'] %}active{% endif %}">{{ sub_item.title }}</a>
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        {% endif %}
    </div>

    <!-- 内容区域 start -->
    <div class="tpl-content-wrapper {% if sub_menus|length == 0 %} no-sidebar-second {% endif %}">
        {% block content %} {% endblock %}
    </div>
    <!-- 内容区域 end -->

</div>
<script src="{{ url_for('blue_admin_index.static', filename='common/plugins/layer/layer.js') }}"></script>
<script src="{{ url_for('blue_admin_index.static', filename='common/js/jquery.form.min.js') }}"></script>
<script src="{{ url_for('blue_admin_index.static', filename='common/js/amazeui.min.js') }}"></script>
<script src="{{ url_for('blue_admin_index.static', filename='common/js/webuploader.html5only.js') }}"></script>
<script src="{{ url_for('blue_admin_index.static', filename='common/js/art-template.js') }}"></script>
<script src="{{ url_for('blue_admin_index.static', filename='admin/js/app.js') }}"></script>
<script src="{{ url_for('blue_admin_index.static', filename='admin/js/file.library.js') }}"></script>

{% block script %}{% endblock %}
</body>

</html>
